@import url("https://fonts.googleapis.com/css?family=Open+Sans:40");

.seite{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  text-align: center;
}

.title{
  padding-top: 30%;
}

.blinking-cursor{
  user-select: none;
  animation: blink 1s steps(2, start) infinite;
}
  
@keyframes blink{
  to {visibility: hidden;}
}