.navbaritem{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: min-content;
  margin-right: 3em;
}

.unselected {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: large;
  background-image: linear-gradient(
    to right,
    #FF6A3D,
    #FF6A3D 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block; 
  /* padding: 5px 0;  */
  position: relative; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.selected {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: large;
  background-image: linear-gradient(
    to right,
    #FF6A3D,
    #FF6A3D 50%,
    #FF6A3D 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block; 
  /* padding: 5px 0;  */
  position: relative; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
  
a:before{
  content: '';
  background: #FF6A3D;
  display: block; 
  position: absolute; 
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before{
  width: 100%;
}
  