.container{
    display: flex;
    background-color: #1A2238;
    justify-content: space-between;
}

.logo{
    display: flex;
    height: 100px;
    width: 100px;
}

.navbaritems{
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    width: auto;
}